---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑 Ciao, sono Pietro Gentili!</h1>
			<p>
				Fondatore del Forum Giovanile Elbano, attivista politico per i diritti dei giovani e dei lavoratori, adesso pronto per una nuova sfida
			</p>
			<p>
				Su questo sito troverai riflessioni, articoli, proposte, e magari qualche meme
			</p>
			<p>Motivi per cui seguirmi</p>
			<ul>
				<li>Sono elbano</code></li>
				<li>Motivo 2</li>
				<li>Motivo 3</li>
				<li>Basta</li>
			</ul>
			<p>
				Leggi il mio <a href="https://docs.astro.build/"
					>programma personale
				</a> oppure qualche  <a href="https://astro.build/chat">mio articolo</a> sulla situazione lavorativa attuale.
			</p>
		</main>
		<Footer />
	</body>
</html>
