---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Pietro Gentili - Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'News', href: '/blog/' },
        { text: 'Priorità', href: '/priorita' },
        { text: 'Programma', href: '/programma' },
        { text: 'Contatti', href: '/contatti' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/pietro_gentili_/',
        },
      },
      {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/pietro.gentili.35',
        },
      }
    ]}
    image={{
      src: '~/assets/images/linguella-f.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ciao! Sono Pietro Gentili</h2>
      <p>
        Ho 19 anni, vivo all’Isola d’Elba, frequento il primo anno di Giurisprudenza
        e fino a giugno scorso ho studiato (e “vissuto”) al Liceo Foresi. Amo impegnarmi
        per la <b>comunità</b> sin dai primi anni di liceo, quando ho iniziato a fare <b>rappresentanza</b>.
        Come Rappresentante mi sono sempre speso per il diritto allo studio, l’edilizia
        scolastica, la didattica, i trasporti pubblici, gli eventi e la formazione, portando le
        istanze elbane in Provincia, in Regione e infine al Governo, durante il mio mandato
        come <b>Portavoce Nazionale degli Studenti</b>.
      </p>
      <br />
      <p>
        Tante volte ho organizzato, insieme ai miei compagni, manifestazioni per fare richieste
        all’amministrazione e sarei stato ipocrita se mi fossi tirato indietro davanti alla
        possibilita’ di lavorare direttamente per risolvere quei problemi. Per questo ho
        deciso di candidarmi con Lista Civica <b>Angelo Zini</b>, provando a dare il mio contributo alla città e all’Elba, insieme a <b>persone esperte</b> di cui ho stima e soprattutto a <b>persone
          nuove</b> in cui ho fiducia.
      </p>
      <br />
      <p>Seguimi su:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<!-- Carosello -->
<div id="carousel" class="carousel carousel-end rounded-box overflow-x-auto" style="white-space: nowrap;">
  <div class="carousel-item" style="display: inline-block;">
    <img src="https://i.imgur.com/jFpioxb.png" alt="Drink" class="w-full h-80 object-contain" />
  </div>
  <div class="carousel-item" style="display: inline-block;">
    <img src="/src/assets/images/edilizia-scolastica.png" alt="Drink" class="w-full h-80 object-contain" />
  </div>
  <div class="carousel-item" style="display: inline-block;">
    <img src="/src/assets/images/eventi.png" class="w-full h-80 object-contain" />
  </div>
  <div class="carousel-item" style="display: inline-block;">
    <img src="/src/assets/images/formazione.png" class="w-full h-80 object-contain" />
  </div>
  <div class="carousel-item" style="display: inline-block;">
    <img src="/src/assets/images/trasporti-pubblici.png" class="w-full h-80 object-contain" />
  </div>
  <div class="carousel-item" style="display: inline-block;">
    <img src="/src/assets/images/diritto-studio.png" class="w-full h-80 object-contain" />
  </div>
</div>

  
  
  

  <!-- Hero -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Leggi le mie priorità',
        href: '/priorita',
        icon: 'tabler:bulb',
      },
      { 
        text: 'Consulta curriculum', 
        href: '/assets/documents/cv.pdf', 
        download: 'cv.pdf', 
        icon: 'tabler:download' 
      },
    ]}
    image={{ src: '~/assets/images/zini.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Se ne avrò la possibilità mi impegnerò al massimo per ascoltare e coinvolgere tutti,
        cercando <b>soluzioni nuove</b> a problemi vecchi di Portoferraio e dell’Elba.
        Sogno l’Elba come un <b>“posto per giovani”</b>, senza però lasciare indietro nessuno. Per scegliere le mie <b>priorità</b> mi sono quindi chiesto: cosa rende
        una città un “posto per giovani”?<br/><br/> Scopri di più sulle mie priorità oppure consulta le mie competenze nel curriculum.
      </span>
    </Fragment>
  </Hero>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Le news"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const carousel = document.getElementById('carousel');
    if (carousel) {
      const items = carousel.getElementsByClassName('carousel-item');
      let currentIndex = 0;

      const showNextItem = () => {
        const itemWidth = items[0].offsetWidth;
        currentIndex = (currentIndex + 1) % items.length;
        const newScrollPosition = currentIndex * itemWidth;
        carousel.scrollTo({
          left: newScrollPosition,
          behavior: 'smooth'
        });
      };

      setInterval(showNextItem, 10000);
    }
  });
</script>










