---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Header from '~/components/widgets/Header.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Le mie priorità',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'News', href: '/blog/' },
        { text: 'Priorità', href: '/priorita' },
        { text: 'Programma', href: '/programma' },
        { text: 'Contatti', href: '/contatti' },
      ]}
      isSticky
      showToggleTheme
    />
      </Fragment>

    <HeroText
    tagline="Programma"
    title="Le mie priorità"
    subtitle="Se avrò la vostra fiducia mi impegnerò al massimo per ascoltare e coinvolgere tutti, cercando soluzioni nuove a problemi vecchi di Portoferraio e dell\’Elba. Sogno l\’Elba come un “posto per giovani”, senza dimenticare comunque anche chi giovane non è più Per scegliere le mie priorità mi sono quindi chiesto: cosa rende una città un “posto per giovani”?"
    />

  <!-- Diritto allo studio (scuole) ************** -->

  <Content
    title="Diritto allo studio (scuole)"
    subtitle="L’istruzione è <b>libertà, opportunità e crescita</b>. Tutte cose di cui un giovane ha disperatamente bisogno, ma alle quali il sistema elbano riesce a rispondere solo in parte. Il mio impegno è volto ad attuare il “patto per il diritto allo studio” (che come Rappresentante ho firmato insieme all’Amministrazione nel 2022), per garantire a tutti i Portoferraiesi il diritto alla scuola, in particolare: "
    isReversed
    items={[
      {
        description:
          'Contributi per acquisto libri scolastici a famiglie con basso reddito',
      },
      {
        description:
          '<b>Banca del Libro</b> per le scuole elementari e medie, dove fattibile anche alle superiori, in accordo con gli istituti ',
      },
      {
        description:
          'Contributo a famiglie a basso reddito per il <b>vestiario da laboratorio</b> negli indirizzi tecnico-professionali (alberghiero incluso)',
      },
      {
        description:
          'Copertura del <b>costo gita</b> per le famiglie a basso reddito nei modi permessidalla legge',
      },
      {
        description:
          'Organizzazione, in accordo economico con gli altri comuni, di attività di <b>recupero scolastico</b> gratuito tutto l’anno, con professori dedicati',
      },
    ]}
    image={{
      src: '~/assets/images/protesta-scuola.jpg',
      alt: 'Startup Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- Diritto allo studio (università) ************** -->

    <Content
        title="Diritto allo studio (università)"
        subtitle="Per un elbano frequentare un\’università pubblica costa quanto per un milanese frequentare la Bocconi. Lo Stato, quindi il Comune, deve fare il possibile per appiattire questa differenza, rendendo l\’Università <b>un\’opportunità</b> per tutti i ragazzi di Portoferraio, non solo per un\’élite. Per questo vorrei lavorare su alcune priorità"
        items={[
        {
            description:
            '<b>Contributo affitti</b>, per coprire parte rilevante dell’affitto ai ragazzi con situazione di indigenza o difficoltà che non siano fuori corso',
        },
        {
            description:
            '<b>Prestiti d’onore</b>, si un accordo con le banche locali per garantire con fondi comunali dei prestiti agevolati concessi dalle banche ai ragazzi per pagarsi l’università, con l’impegno di restare all’Elba dopo la laurea',
        },
        {
            description:
            '<b>Aule studio</b> nel complesso De Laugier e nelle altre proprietà comunali idonee',
        },
        {
            description:
            'Piattaforma “trova coinquilino” per incrociare le richieste di alloggio tra elbani fuorisede',
        },
        {
            description:
            'Coordinamento tra <b>orari di navi e treni</b> per facilitare i collegamenti',
        },
        ]}
        image={{
        src: '~/assets/images/maturita.jpg',
        alt: 'Startup Image',
        }}
    >

        <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Content>

    <!-- altri 2 -->
    <Features3
    columns={2}
    items={[
      {
        title: 'Università all’Elba?',
        description: 'Siamo chiari: non ci sara’ una “Universitas Studiorum Ilvae” ma potrà esserci una <b>sede distaccata</b> per corsi di eccellenza legati al territorio (biologia marina, geologia) o per specifici master o dottorati di ricerca,  ipotesi sulla quale l’Amministrazione ha già pronto un protocollo con gli atenei toscani. Dove? Al complesso delle Ghiaie o in alternativa al Grigolo; quando il liceo sarà spostato nel nuovo plesso. Cosi’ facendo salveremo il Grigolo dal disuso e valorizzeremo uno spazio che si trova già pronto. Provate a immaginare come sarebbe Portoferraio in inverno, se diventasse una <b>mini città universitaria</b>.',
        icon: 'tabler:school',
      },
      {
        title: 'Edilizia Scolastica',
        description: 'Voglio portare fino in fondo la lotta per l’edilizia scolastica, lavorando per ottenere dalla Provincia gli interventi necessari a <b>sistemare Salita Napoleone</b>, per ora messa in sicurezza con un massiccio intervento straordinario del Comune, anche se si tratterebbe di una competenza principalmente provinciale. Qualora Livorno dovesse essere assente, mi battero’ per coprire le necessità con fondi del Comune di Portoferraio, nei limiti delle possibilità di bilancio, e soprattutto mi impegnerò per coinvolgere economicamente le altre 6 amministrazioni. Stesso lavoro mi piacerebbe portarlo avanti per il <b>Grigolo</b>, al fine di sistemare infissi, porte, bagni, finestre e strutture, oltreché a rimuovere il vicino amianto: tutto in concerto con la Provincia, che ha le competenze di edilizia. Interventi minori, dove necessari, devono essere intrapresi anche a <b>Concia e al Cerboni</b>.',
        icon: 'tabler:backhoe',
      }
    ]}
    classes={{ container: 'max-w-5xl' }}
    />

  <!-- Scuola ************** -->

  <Content
  title="Scuola"
  subtitle="La scuola è la principale delle <b>priorità</b> a cui mi piacerebbe lavorare, qui raggruppo alcune ulteriori intenzioni"
  isReversed
  items={[
    {
      description:
        'Avviare un progetto permanente di <b>educazione civica</b> ed uno di <b>educazione affettiva e sessuale</b> nelle scuole superiori coinvolgendo esperti.',
    },
    {
      description:
        'Lavorare con le scuole per realizzare il modello <b>“scuole aperte”</b> con attività formative e sociali volontarie il pomeriggio, anche autogestite.',
    },
    {
      description:
        'Istituire un <b>tavolo permanente</b> mensile di confronto tra Comune, Rappresentanza studentesche e Dirigenze scolastiche.',
    },
    {
      description:
        '<b>Parcheggi</b> riservati per studenti in centro',
    },
    {
      description:
        'Potenziamento, nei modi permessi dalla legge, dello <b>psicologo scolastico</b> con un intervento delle amministrazioni elbane',
    },
    {
      description:
        'Attivazione di percorsi di <b>formazione</b> post scolastici altamente qualificati (its e Ifts regionali)',
    },
  ]}
  image={{
    src: '~/assets/images/pietro-acqua2.jpg',
    alt: 'Startup Image',
  }}
>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </Content>

  <!-- Altri 6 -->
      <!-- Università all'Elba -->
      <Features3
      columns={2}
      items={[
        {
            title: 'Eventi e Feste',
            description: 'Portoferraio deve diventare una città <b>ricca di vita tutto l’anno</b>, capace di offrire ai ragazzi opportunità di divertimento e socialità. Solo un paese ricco di eventi e feste può essere il <b>centro di riferimento</b> per l’Elba che Portoferraio è chiamato a essere per natura. L’impegno è a realizzare un piano di eventi comunali, coinvolgendo soggetti pubblici e privati e a ricercare collaborazione con le attività commerciali per integrare l’offerta comunale con un piano “dal basso” di <b>piccoli eventi</b>, agevolati in tutto dall’amministrazione. E’ necessario realizzare nuovi <b>luoghi di socialità</b> per gli eventi, valorizzando la zona circostante lo skate park, l’area della linguella e anche le stesse Ghiaie. La Golden Night deve diventare l’evento di punta della stagione elbana, con ospiti e musica del miglior livello.',
            icon: 'tabler:confetti',
        },
        {
            title: 'Trasporto Pubblico',
            description: 'Il diritto a muoversi è diritto allo studio, diritto al lavoro, diritto alla socialità, diritto alla salute. Deve quindi essere La <b>Priorità</b>, con un impegno rivolto a raggiungere un aumento delle corse tra i paesi e Portoferraio, attraverso cooperazioni intercomunali. <b>Gli orari vanno rimodulati</b> secondo i bisogni di ospedale, scuole, associazioni sportive e normali cittadini. Il TPL deve permettere a tutti gli elbani di trascorrere una giornata intera a Portoferraio, senza l’oppressione di orari assurdi. Necessario anche portare a termine il lavoro con la Regione per trasformare l’Elba in zona tariffaria urbana unica; riducendo enormemente i costi degli abbonamenti. Per realizzare questi interventi saremo facilitati dal ruolo di guida assunto da Portoferraio nella questione trasporti, che ha già permesso importanti miglioramenti al TPL, come la recente aggiunta di nuove corse attese da anni.',
            icon: 'tabler:bus',
        },
        {
            title: 'Trasporto Notturno',
            description: 'Capitolo a parte merita il trasporto notturno; un’esigenza fondamentale per la <b>sicurezza stradale</b> e per il diritto alla <b>socialità</b> degli elbani, oltre che per il nostro pieno <b>sviluppo turistico</b>. Mi <b>impegno</b> per co-organizzare, <b>in rete con le altre amministrazioni</b>, un servizio autobus di ritorno notturno da Portoferraio verso i paesi, così da consentire a tutti di trascorrere le proprie serate nel capoluogo. Inoltre il servizio deve adattarsi alle esigenze quotidiane, collegando (andata e ritorno) la <b>città</b> (e i suoi parcheggi) con i <b>grandi eventi elbani</b> e con le <b>discoteche</b>, per garantire mobilità economica e <b>sicurezza stradale</b>.',
            icon: 'tabler:moon',
        },
        {
            title: 'Continuità Territoriale (navi e treni)',
            description: 'E’ necessario “mettersi al tavolo” insieme a <b>compagnie navali</b> ed Autorità Portuale per progettare la nuova continuità territoriale, grazie al recente bando regionale. <b>Coordinare orari di navi e treni</b>, vigilare sul rispetto dei <b>tempi</b>, garantire la bigliettazione online, aumentare i collegamenti tra Piombino M e Campiglia, riservare una “quota residenti”, aumentare le corse di aliscafo sono <b>tutti provvedimenti fondamentali</b> per collegare a pieno l’Elba col resto del mondo.',
            icon: 'tabler:ship',
        },
        {
            title: 'Consultorio',
            description: 'Il consultorio è un <b>presidio sanitario e sociale</b> importantissimo per molti <b>adolescenti e giovani</b> elbani. Portoferraio deve guidare i Comuni elbani in una iniziativa di potenziamento del consultorio, incentivando anche la conoscenza nelle scuole.',
            icon: 'tabler:heart',
        },
        {
            title: 'Reddito di Emancipazione',
            description: 'La violenza domestica è una vera emergenza permanente. Il Comune ha il dovere di proseguire <b>nella innovativa</b> strada intrapresa per affrontarla (con la grande iniziativa del centro antiviolenza e <b>della casa di accoglienza</b>) attraverso modi nuovi e ambiziosi, come il <b>“reddito di emancipazione”</b>, ovvero un contributo per le spese personali necessarie alle vittime di violenza che decidano di separarsi dal partner, nel mentre che vengono accompagnate in un percorso di riconquista <b>dell’indipendenza</b>, innanzitutto con la <b>formazione</b> ed il collocamento professionale.',
            icon: 'tabler:home',
        }
      ]}
      classes={{ container: 'max-w-5xl' }}
      />

      <Content
      id="about"
      columns={3}
      isReversed
      items={[
        {
          icon: 'tabler:brand-instagram',
          callToAction: {
            target: '_blank',
            text: 'Instagram',
            href: 'https://www.instagram.com/pietro_gentili_/',
          },
        },
        {
          icon: 'tabler:brand-facebook',
          callToAction: {
            target: '_blank',
            text: 'Facebook',
            href: 'https://www.facebook.com/pietro.gentili.35',
          },
        }
      ]}
      image={{
        src: '~/assets/images/linguella2.jpg',
        alt: 'Colorful Image',
        loading: 'eager',
      }}
    >
      <Fragment slot="content">
        <h2 class="text-2xl">
          Molti di questi impegni necessitano di sforzi e scelte importanti, che avranno bisogno di tempo prima di essere realizzate; anche a causa di una situazione finanziaria solo recentemente salvata grazie all’Amministrazione uscente. Con l’ impegno e soprattutto facendo squadra con le altre amministrazioni elbane possiamo però realizzare davvero questi cambiamenti concreti...
        </h2>
        <br />
        <br />
        <p>Seguimi su:</p>
      </Fragment>
  
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
